@import "tailwindcss";

@theme {
  --color-red-muted: #bb3535;
  --color-red-muted-dark: #b13333;
  --color-red-muted-light: #cc3939;
}

body {
  background: var(--color-gray-200);
  color: var(--color-neutral-900);
}
